
.fira-sans-regular {
    font-family: "Fira Sans", serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    font-variation-settings: "width" 100;
  }
*{
    margin: 10px auto;
}
/* ------------------------- */
/* Shared Styles */
.textcenter{
    text-align: center;
}
